*{
    margin: 0;
    padding: 0;
}



.container{
    height: 100vh;
    display: grid;
    grid-template-columns:repeat(12,1fr) ;
    grid-template-rows: 100px auto 100px;
    text-align: center;
    gap: 10px;
    border-radius: 20px;

    
    
}
.container > div{
    border: 1px solid red;
    padding: 20px;
}




.header{
    grid-column-start: 1;
    grid-column-end: -1;
    background-color: red;
}

.menu{

grid-column-start: 1 ;
grid-column-end: 4;
background-color: aqua;


}
.bodi{
    grid-column-start:4 ;
    grid-column-end: -1;
    background-color: skyblue;
}
.footer{
    grid-column-start: 1;
    grid-column-end: -1;
    background-color: yellow;
}



